# Exclude the Vivado project directory
/Outer-round-pipelined-AES128/

# Exclude all files and folders within folders for individual IPs
# inside the ip folder
ip/*/*
# except the .xci file
!ip/*/*.xci
